<web-app>
<servlet>
<servlet-name>Train</servlet-name>
<servlet-class>Train</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Train</servlet-name>
<url-pattern>/Train</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Train1</servlet-name>
<servlet-class>Train1</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Train1</servlet-name>
<url-pattern>/Train1</url-pattern>
</servlet-mapping>
</web-app>




