<web-app>
<servlet>
<servlet-name>ID</servlet-name>
<servlet-class>DatabaseAccess</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ID</servlet-name>
<url-pattern>/ID</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>In</servlet-name>
<servlet-class>Insert</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>In</servlet-name>
<url-pattern>/In</url-pattern>
</servlet-mapping>
</web-app>